x-logging: &logging
  driver: "json-file"
  options:
    max-size: "50m"

services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: wuzapi-rabbitmq
    ports:
      - "5672:5672"    # AMQP port
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging: *logging
    restart: always
    networks:
      - wuzapi-network

  wuzapi:
    image: asternic/wuzapi:sha-ad80551
    container_name: wuzapi
    ports:
      - "8080:8080"
    environment:
      ADMINTOKEN: supersecrettoken
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      rabbitmq:
        condition: service_healthy
    logging: *logging
    restart: always
    networks:
      - wuzapi-network

networks:
  wuzapi-network:
    driver: bridge
